html{
  background-color: #89A063;
  padding: 10px;
  margin:auto;
}
h1{
text-align: center;
}
body{
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}

form{
    background-color: #ACC08C;
    padding: inherit;
    text-align: center;
    display: inline-block;
}

span{
  text-align: center;
}

#offset{
  width: 5em;
  padding: 10px 5px;
}
#result{
  text-align: center;
}

textarea{
  width: 20em;
  height: 5em;
  padding: 10px 5px;
  resize: none;
  background-color:white;
}

#textResult{
  display: inline-block;
}

#infoBox{
  padding: 10px;
  display: block;
  background-color: #DAE8C4;
  text-align: center;
}

.mybtn{
  background-color: #e7e7e7;
  border-radius: 8px;
  font-size: 24px;
  transition-duration: 0.4s;
  width: 150px;
  height: 50px;
}
.mybtn:hover {
  background-color: #698044;
  color: white;
}
