html {
  font-family: 'Merriweather', serif;
}
header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sub {
  text-align: right;
  font-size: 22px;
}

.navbar {
  width: 88%;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;

}

.navbar ul li {
  float: left;
  background-color: #555;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
  list-style-type: none
}

.navbar ul li:hover {
  background-color: #000;
}

.navbar ul li.active {
  background-color: #4CAF50;
}

#home, #funcionamento, #contatos, #cifrar-decifrar {
  display: none;
}

#funcionamento-cifra {
  width: 60vw;
}

body {
  padding: 0px 30px;
  font-size: 20px;
  background-color: #89A063;
}

.info {
  padding: 10px;
  background-color: #DAE8C4;
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.cipher {
  background-color: #ACC08C;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#offset {
  width: 5em;
  padding: 10px 5px;
}

.boxes {
  width: 50%;
  padding: 15px;
} 

textarea {
  width: 80%;
  height: 5em;
  padding: 10px 5px;
  resize: none;
  background-color:white;
  line-height: 1.8;
}

.my-btn {
  background-color: #e7e7e7;
  border-radius: 8px;
  font-size: 24px;
  transition-duration: 0.4s;
  width: 150px;
  height: 50px;

}

.my-btn:hover {
  background-color: #698044;
  color: white;
}

footer {
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .navbar ul li {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
